/*HEADER GENERAL*/

header{
    width: 100%;
    height: 200px;
    background-image: url('./img/img-proyectos/2.jpg');

    h1{
        font-family: 'Roboto', sans-serif;
        color:black;
        text-align: center;
        font-size:50px;
        background-clip: text;
        -webkit-text-stroke: 2px white;
        margin-bottom: 30px;

        @media (max-width: 460px) {
            font-size: 40px;
        }
    }

    ul{
        display: flex;
        margin-bottom: 10px; 

        li{
            a{
                color:$colorFuenteBlancaClara;
                margin-left: 10px;
                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                    color:$colorFuenteBlancaClara;
                }

                @media (max-width: 460px) {
                    font-size: 14px;
                }
            }            
        } 
        .li1{
            animation-name: aparecer;
            animation-duration: 0.5s;
            animation-timing-function: ease;
        }
        .li2{
            animation-name: aparecer;
            animation-duration: 1s;
            animation-timing-function: ease;    
        }
        
        .li3{
            animation-name: aparecer;
            animation-duration: 1.5s;
            animation-timing-function: ease;    
        }
        
        .li4{
            animation-name: aparecer;
            animation-duration: 2s;
            animation-timing-function: ease;    
        }
    }
    
    div{
        width: 100%;
        height: 2px;
        background-color:#fff;
    }

    
    
    @keyframes aparecer {
        0% {
            opacity: 0;
        }
    
        70% {
            opacity: 0;
        }
    
        100% {
            opacity: 1;
        }
    }

    @media (max-width: 460px) {
        padding-top: 20px;
    }
}